/auto-save-list/*
/backups/*
/elpa/*
/Pre-big-clean/*
Yanki/*
emms/*
games/*
other-repos/*
other-people/*
session.*
url/*
/#init.org#
/shree.el
/%backup%~
/tramp
/tutorial/English.tut
/network-security.data
/english-words.txt
