[submodule "lisp/keyfreq"]
	path = lisp/keyfreq
	url = https://github.com/dacap/keyfreq.git
[submodule "lisp/bibretrieve"]
	path = lisp/bibretrieve
	url = https://github.com/pzorin/bibretrieve.git
[submodule "lisp/julia-emacs"]
	path = lisp/julia-emacs
	url = https://github.com/JuliaEditorSupport/julia-emacs.git
